{% extends "layout.html" %}
{% block content%}
    {% if session.username %}
    <a href="/browse" style="background-color: aliceblue; border-radius: 25px;">Selaa vinkkejä</a>
    <a href="/new_choose_type" style="background-color: aliceblue; border-radius: 25px;">Lisää uusi vinkki</a>
    <a href="/logout" style="background-color: aliceblue; border-radius: 25px;">Kirjaudu ulos</a>
    {% else %}
    <a href="/register" style="background-color: aliceblue; border-radius: 25px;">Rekisteröi uusi käyttäjä</a>
    <a href="/login" style="background-color: aliceblue; border-radius: 25px;">Kirjaudu sisään</a>

    {% endif %}
{% endblock%}