<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lukuvinkkikirjasto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div class="header">
            <h1><a href="/" id="otsikko">Lukuvinkkikirjasto</a></h1>            
        </div>
        {% if session.username %}
        <div>
            <p>Olet kirjautunut käyttäjätunnuksella: {{ session.username }}</p>
        </div>
        {% endif %}
        <br>
        {% block content %}
        {% endblock %}
        <br>
    </body>
</html>