{% extends "layout.html" %}
{% block content%}
<form action="/new_article" method="POST">
    <div class="article">
        Lisää uusi <b>artikkeli</b> lukuvinkkikirjastoon.
        <p>
        <p>Otsikko</p>
        <input type="text" name="title" size="30">
        <p>Tekijä</p>
        <input type="text" name="author" size="30">
        <br><br>
        <input type="radio" name="resource_id_type" value="doi" checked> DOI</radio>
        <input type="radio" name="resource_id_type" value="url"> URL
        <br><br>
        <input type="text" name="resource_id" size="30">
        <br>
        <p>Tagit (erota useampi tagi puolipisteellä)</p>
        <input type="text" name="tag" size="30">
        <br>
        <br>
        <input type="submit" name=button value="Lisää">
    </div>
</form>
{% endblock %} 