body {
    background-color:lightsteelblue;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 25px 50px 25px 50px;
    letter-spacing: 3px;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    width: 50%;
    padding: 10px 50px 10px 50px;
    border-bottom: 1px solid lightgray;
}

a.tablelink {
    text-decoration: none;
    color: rgb(0, 0, 100);
    padding: 10px 10px 10px 0px;
    letter-spacing: 3px; 
    transition: letter-spacing .5s, color .5s;
}

a.tablelink:hover {
    letter-spacing: 4px;
    color: rgb(0, 0, 200)
}

h2 {
    color:gray;
    letter-spacing: 3px;
}

#otsikko {
    color: rgb(255, 255, 255);
    letter-spacing: 7px;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.browse {
    text-align: left; 
    padding-left: 10px;
    padding: 30px;
    margin: auto;
    width: 50%;
    background-color: white;
    color: black;
    border-radius: 25px
}

.article {
    padding: 30px;
    text-align: left; 
    padding: 20px 30px 20px 30px;
    margin: auto;
    width: 50%;
    background-color: white;
    color: black; 
    border-radius: 25px
}

.book {
    padding: 30px;
    text-align: left; 
    padding: 20px 30px 20px 30px;
    margin: auto;
    width: 50%;
    background-color: white;
    color: black; 
    border-radius: 25px
}