{% extends "layout.html" %}
{% block content%}
    <div class="browse">
        <h2>Tallennetut lukuvinkit</h2>
        <hr>
        <p>
            <a style="padding: 1rem; color: rgb(0, 0, 100)" href="/new_choose_type">Lisää vinkki</a></span>   <span>
            <a style="padding: 1rem; color: rgb(0, 0, 100)" href="/">etusivu</a>
            </span>
        </b></p>


        {% if blogs %}
        <h2>blogit</h2>
        <table>
            <tr>
                <th>otsikko</th>
                <th>kirjoittaja</th>
            </tr>
        {% for blog in blogs %}
            <tr>
                <td>
                    <a class="tablelink "href={{ blog.url }} alt={{ blog.url }}>{{ blog.title }}</a>
                </td>
                <td>
                    {{ blog.author }}
                </td>
                <td>
                    <button>Poista</button>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}

        {% if articles %}
        <h2>artikkelit</h2>
            <table>
                <tr>
                    <th>artikkeli</th>
                    <th>kirjoittaja</th>
                </tr>
            {% for article in articles %}
                <tr>
                    <td>
                        {% if article.doi %}
                        {% set url = "https://doi.org/" + article.doi %}
                        <a class="tablelink "href={{ url }} alt={{ article.doi }} >{{ article.title }}</a>
                        {% elif article.url %}
                        <a class="tablelink "href={{ article.url }} alt={{ article.url }}>{{ article.title }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ article.author }}
                    </td>
                    <td>
                        <button>Poista</button>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}

        {% if videos %}
        <h2>videot</h2>
        <table>
            <tr>
                <th>otsikko</th>
                <th>kanava</th>
            </tr>
        {% for video in videos %}
            <tr>
                <td>
                    <a class="tablelink "href={{ video.url }} alt={{ video.url }}>{{ video.title }}</a>
                </td>
                <td>
                    {{ video.channel }}
                </td>
                <td>
                    <button>Poista</button>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}

        {% if books %}
            <h2>kirjat</h2>
                <table>
                    <tr>
                        <th>kirja</th>
                        <th>kirjoittaja</th>
                    </tr>
                    {% for book in books %}
                    <tr>
                        <td>
                            {% if book.isbn %}
                            {% set url = "https://isbnsearch.org/isbn/" + book.isbn %}
                            <a class="tablelink "href={{ url }} alt={{ book.isbn }} >{{ book.title }}</a>
                            {% endif %}
                        </td>
                        <td>
                        {{ book.author }}
                        </td>
                        <td>
                            <button>Poista</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        {% endif %}

    </div>
{% endblock %}