{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% if message %}
Virhe: {{ message }}
{% endif %}

{% block content%}
<form action="/login" method="POST">
  Kirjaudu sisään
  <div class="article">
    <div>
      <label for="username">Käyttäjätunnus</label>
      <input type="text" name="username" id="username" />
    </div>

    <div>
      <label for="password">Salasana</label>
      <input type="password" name="password" id="password" />
    </div>

    <button>
      Kirjaudu
    </button>
  </div>
</form>
{% endblock%}