{% extends "layout.html" %}
{% block content%}
<div class="article">
    <form action="/new_choose_type" method="POST">
        <p>Lisää uusi...</p>
        <select name="type">
            <option value="" disabled selected>Valitse</option>
            <option value="blog">Blogi</option>
            <option value="article">Artikkeli</option>
            <option value="video">Video</option>
            <option value="book">Kirja</option>
        </select>
        <input type="submit" value="Lisää">
    </form> 
</div>
{% endblock %}